@model Category
 

         <form role="form" method="post" class="form-horizontal" asp-controller="Category" asp-action="Create">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Kategori Adı</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-medium" asp-for="Name" placeholder="Kategori Adı">
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn blue">Kaydet</button>
                        <a asp-action="Index" asp-controller="Category" class="btn default">İptal</a>
                    </div>
                </form>