@model IEnumerable<Category>
@{
    //Anasayfadaki kategoriler listesi görüntüleniyor
}
    <section class="imagesArea p-5 mt-1">
        <div class="container-fluid pl-0 pr-0">
            <div class="row">
                @foreach(var item in Model){
                <div class="col-md-4 w-100 img-fluid">
                    <a asp-action="Urunler" asp-controller="Home" asp-route-categoryid="@item.Id">
                    <div class="hover__container" data-bs-toggle="modal" data-bs-target="#mainModal">
                        <div class="hover text-white pt-4">
                            <h5 class="mt-5 text-muted">Kategori</h5>
                            <h4>@item.Name</h4>
                        </div>
                        <img src="~/@item.ImagePath">
                    </div>
                    </a>
                </div>
                }
            </div>
        </div>
    </section>