@model IEnumerable<Category>

    <section class="imagesArea p-5 mt-1">
        <div class="container-fluid pl-0 pr-0">
            <div class="row">
                <div class="col-md-4 w-100 img-fluid">
                    <div class="hover__container" data-bs-toggle="modal" data-bs-target="#mainModal">
                        <div class="hover text-white pt-4">
                            <h5 class="mt-5 text-muted">Kategori</h5>
                            <h4>Ev Dekorasyonu</h4>
                        </div>
                        <img src="~/E_Commerce_Theme/img/3.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hover__container">
                        <div class="hover text-white pt-4">
                            <h5 class="mt-5 text-muted">Kategori</h5>
                            <h4>Ev Dekorasyonu</h4>
                        </div>
                        <img src="~/E_Commerce_Theme/img/4.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hover__container">
                        <div class="hover text-white pt-4">
                            <h5 class="mt-5 text-muted">Kategori</h5>
                            <h4>Teknoloji</h4>
                        </div>
                        <img src="~/E_Commerce_Theme/img/5.jpg">
                    </div>
                </div>
                <div class="col-md-4 w-100 img-fluid">
                    <div class="hover__container" data-bs-toggle="modal" data-bs-target="#mainModal">
                        <div class="hover text-white pt-4">
                            <h5 class="mt-5 text-muted">Kategori</h5>
                            <h4>Ayakkabılar</h4>
                        </div>
                        <img src="~/E_Commerce_Theme/img/7.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hover__container">
                        <div class="hover text-white pt-4">
                            <h5 class="mt-5 text-muted">Kategori</h5>
                            <h4>Aksesuarlar</h4>
                        </div>
                        <img src="~/E_Commerce_Theme/img/8.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hover__container">
                        <div class="hover text-white pt-4">
                            <h5 class="mt-5 text-muted">Kategori</h5>
                            <h4>Kişisel Ürünler</h4>
                        </div>
                        <img src="~/E_Commerce_Theme/img/10.jpg">
                    </div>
                </div>
                <div class="col-md-4 w-100 img-fluid">
                    <div class="hover__container" data-bs-toggle="modal" data-bs-target="#mainModal">
                        <div class="hover text-white pt-4">
                            <h5 class="mt-5 text-muted">Kategori</h5>
                            <h4>Ayakkabılar</h4>
                        </div>
                        <img src="~/E_Commerce_Theme/img/ayakkabı.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hover__container">
                        <div class="hover text-white pt-4">
                            <h5 class="mt-5 text-muted">Kategori</h5>
                            <h4>Teknoloji</h4>
                        </div>
                        <img src="~/E_Commerce_Theme/img/6.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hover__container">
                        <div class="hover text-white pt-4">
                            <h5 class="mt-5 text-muted">Kategori</h5>
                            <h4>Ev Dekorasyonu</h4>
                        </div>
                        <img src="~/E_Commerce_Theme/img/11.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>